#aboutme{
    text-align: center;
    font-family: Comic Sans MS;
    position:fixed;
    left: 0px;
    top: 10px;;
    color:rgba(255, 99, 71, 0.8);
    background-color: black;
    width:100%;
    height:180px;  
    display: block;
    margin-left: auto;
    margin-top: auto;
}

img{

    float : right;
    position: absolute;
    right: 0px;
    top:0px;
    width:200px;
    height:200px;
    border-radius:50%;
    position: fixed;
}
.sec1 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(225, 0, 0, 0.7);
    text-align: center;
    box-shadow: 5px 10px;
    
}
.sec2 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(0, 255, 0, 0.7);
    text-align: center;
    box-shadow: 5px 10px;
}
.sec3 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(0,255,255, 0.8);
    text-align: center;
    box-shadow: 5px 10px;
}
.sec4 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(255, 255, 0, 0.7);
    text-align: center;
    box-shadow: 5px 10px;
}
.sec5 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(255, 0, 255, 0.8);
    text-align: center;
    box-shadow: 5px 10px;
}
.sec6 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(128, 0, 12, 0.8);
    text-align: center;
    box-shadow: 5px 10px;
}
.sec7 {
    width:1000px;
    padding:20px;
    margin:20px;
    border-radius:40%;
    background-color:rgba(0, 128, 128, 0.8);
    text-align: center;
    box-shadow: 5px 10px;
}

#coun {
    color: rgba(0, 128, 128, 0.8);
    font-family:Comic Sans MS ;
}
#TA {
    color: rgba(0, 128, 128, 0.8);
    font-family:Comic Sans MS ;
}
.all{
    
    margin-top: 200px;
    margin-left: 150px;
}

section{
    display: block;
}
   